<ul class="icons">
    <li><a href="http://www.github.com/bunlanG" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="http://www.bitbucket.com/bunlanG" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>
    <li><a href="http://www.viadeo.com/fr/profile/ronan.guilbault" class="icon fa-briefcase"><span class="label">Viadeo</span></a></li>
    <li><a href="https://fr.linkedin.com/pub/ronan-guilbault/6a/60b/b78" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
</ul>
