.banner {
    background: url(/assets/img/banner.jpg);
    background-size: 100%;
    background-position: center;
    width: 100%;
    text-align: center;
    padding: 1em;
}

ul.icons {
    float:none;
    font-size: 130%;
    list-style-type: none;
}

ul.icons li.icon {
    color: #ccc;
    display: inline-block;
    margin: 0px 1em;
}

.icon a {
    color: #ccc;
}

.icon a:hover {
    color: #fff;
    background-color: transparent;
}

.title {
    text-align: center;
    font-style: italic;
}

.main {
    padding: 2em 0px;
}

.post-subtitle {
    font-size: 120%;
    color: #bbb;
}

.footer {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0.3em 0px;
    text-align: center;
}
.footer p {
    margin: 0.4em 0px;
}
