body {
    position: relative;
}

.banner {
    background: url(/assets/img/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    padding: 1em;
}

ul.icons {
    float:none;
    font-size: 130%;
    list-style-type: none;
    padding: 0px;
}

ul.icons li.icon {
    color: #ccc;
    display: inline-block;
    margin: 0px 1em;
}

.icon a {
    color: #ccc;
}

.icon a:hover {
    color: #fff;
    background-color: transparent;
}

.title {
    text-align: center;
    font-style: italic;
}

.main {
    padding: 2em 0px;
}

.article-sample > h2 {
    text-align: center;
    margin: 0.5em 0px;
}

.blog-index {
    background-color: rgba(255,255,255,0.07);
    border: 1px white solid;
    border-radius: 1em;
    padding: 1em;
}

.blog-index h1 {
    margin: 0px 0px 0.5em;
    text-align: center;
}

.post-subtitle {
    font-size: 120%;
    color: #bbb;
}

.footer {
    background-color: rgba(128, 128, 128, 0.3);
    padding: 0.3em 0px;
    text-align: center;
}
.footer p {
    margin: 0.4em 0px;
}

section.cv h2 {
    text-align: center;
}

.wip {
    text-align: center;
    font-style: italic;
}

.skill.name, .edu.period, .pro.period {
    font-size: 150%;
}

.skill.summary, .edu.location, .pro.location {
    font-style: italic;
}

.pro.tech {
    text-align: right;
    font-style: italic;
}

div.stars {
    padding: 5.5px 10px;
}

/* Fix Darkly */
pre {
    color: #fff;
}
