---
layout: page

title: CV
textTitle: CV en ligne

permalink: /aboutme
---
{% include wip.html %}
<section class="cv">
    <h2><span class="fa fa-user"></span> Informations générales <span class="fa fa-user"></span></h2>

    <p>
        Ronan GUILBAULT
    </p>
    <p>
        24 ans (8 mai 1992)
    </p>
    <p>
        <span class="fa fa-home"></span> : 15 Route de Poitiers, 86280 Saint-Benoît
    </p>
    <p>
        <span class="fa fa-mobile"></span> : 06 69 05 08 90
    </p>
    <p>
        <span class="fa fa-envelope"></span> : ronan.guilbault@etu.univ-poitiers.fr<br/>
    </p>
</section>

<section class="cv">
    <h2><span class="fa fa-graduation-cap"></span> Formation <span class="fa fa-graduation-cap"></span></h2>

    <table class="cv">
        {% for entry in site.data.cv.education %}
        <tr>
            <td><span>{{ entry.period }}</span></td>
            <td><span>{{ entry.cursus }}</span><br/>
            {% if entry.remark %}<span>{{ entry.remark }}</span><br/>{% endif %}
            <span class="location">{{ entry.school }}</span></td>
        </tr>
        {% endfor %}
    </table>
</section>

<section class="cv">
    <h2><span class="fa fa-signal"></span> Compétences <span class="fa fa-signal"></span></h2>

    <div>
        <div class="row">
            {% for skill in site.data.cv.skills %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8">
                                <span class="skill name">{{ skill.name }}
                                </span>
                            </div>
                            <div class="col-xs-4 text-right">
                                <span class="skill name">
                                    <span class="fa fa-battery-{{ skill.level }} comp-battery-{{ skill.level }}"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div>
                            <span class="title">{{ skill.summary }}</span>
                        </div>
                        <div>
                            <ul>
                                {% for example in skill.examples %}
                                <li>{{ example }}</li>
                                {% endfor %}
                            </ul>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section class="cv">
    <h2><span class="fa fa-industry"></span> Expériences professionnelles <span class="fa fa-industry"></span></h2>
    <table class="cv">
        {% for profession in site.data.cv.professional %}
        <tr>
            <td>{{ profession.period }}</td>
            <td><div class="title">{{ profession.job }}</div>
            {% if profession.remark %}<div>{{ profession.remark }}</div>{% endif %}
            <div class="location">{{ profession.company }}</div>
            <br/>
            {{ profession.preList }}
            <ul>
                {% for entry in profession.list %}
                <li>{{ entry }}</li>
                {% endfor %}
            </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>

<section class="cv">
    <h2><span class="fa fa-info"></span> Divers <span class="fa fa-info"></span></h2>
    <p>
    Fan de sport :<br/>
    - Volley-ball (j'ai été dans l'organisation du Stade Poitevin Volley durant 7 ans (2003-2010))<br/>
    - Cyclisme (La famille suivait, et mon prénom<span class="title"> a été choisi pour un cycliste : Ronan PENSEC)</p>
    <p>Guitariste depuis 9 ans (mai 2008)</p>
    <p>Je n'ai pas le permis, mais je peux me déplacer à vélo et/ou en bus<br/>
    (j'ai effectué tous mes trajets ainsi, de 2009 à 2015, maintenant j'utilise plus les transports en commun)</p>
</section>
