---
layout: page

title: CV
textTitle: CV en ligne

permalink: /aboutme
---

<p class="text-center">
    Mise à jour : {{ site.data.cv.general.modified | date: "%d/%m/%Y" }}
</p>

<section class="cv">
    <h2><span class="fa fa-user"></span> Général <span class="fa fa-user"></span></h2>

    <h3>
        {{ site.data.cv.general.name }}
    </h3>
    <p>
        25 ans ({{ site.data.cv.general.birthday | date: "%d/%m/%Y" }})
    </p>
    <p>
        <span class="fa fa-home"></span> : {{ site.data.cv.general.address }}
    </p>
    <p>
        <span class="fa fa-mobile"></span> : {{ site.data.cv.general.phone }}
    </p>
    <p>
        <span class="fa fa-envelope"></span> : <a href="mailto:{{ site.data.cv.general.mail }}">{{ site.data.cv.general.mail }}</a>
    </p>
</section>

<section class="cv">
    <h2><span class="fa fa-graduation-cap"></span> Formation <span class="fa fa-graduation-cap"></span></h2>

    <div>
        {% for entry in site.data.cv.education %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="edu period">{{ entry.period }}</span> :
                <span class="edu cursus">{{ entry.cursus }}</span>
            </div>
            <div class="panel-body">
                {% if entry.remark %}<p>{{ entry.remark }}</p>{% endif %}
                <p class="edu location">{{ entry.school }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="cv">
    <h2><span class="fa fa-industry"></span> Expériences professionnelles <span class="fa fa-industry"></span></h2>
    <div>
        {% for profession in site.data.cv.professional %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="pro period">{{ profession.period }}</span> :
                <span class="pro job">{{ profession.job }}</span>
            </div>
            {% unless profession.noBody %}
            <div class="panel-body">
                {% if profession.remark %}
                    <p>{{ profession.remark }}</p>
                {% endif %}
                {% if profession.company %}
                    <p class="pro location">{{ profession.company }}</p>
                {% endif %}
                <div>
                    {{ profession.preList }}
                    <ul>
                        {% for entry in profession.list %}
                        <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if profession.technologies %}
                <div class="pro tech">
                    {{ profession.technologies | join: ", " }}
                </div>
                {% endif %}
            </div>
            {% endunless %}
        </div>
        {% endfor %}
    </div>
</section>

<section class="cv">
    <h2><span class="fa fa-signal"></span> Compétences <span class="fa fa-signal"></span></h2>

    <div>
        <div class="row">
            {% for skill in site.data.cv.skills %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8">
                                <span class="skill name">{{ skill.name }}
                                </span>
                            </div>
                            <div class="col-xs-4 text-right stars
                            {% if skill.level == 0 %}
                            text-error
                            {%  elsif skill.level == 1 %}
                            text-warning
                            {%  elsif skill.level == 2 %}
                            text-success
                            {%  elsif skill.level == 3 %}
                            text-info
                            {%  elsif skill.level == 4 %}
                            text-primary
                            {% endif %}
                            ">
                            {% for i in (0..4) %}
                                {% if skill.level >= i %}
                                <span class="fa fa-star"></span>
                                {% else %}
                                <span class="fa fa-star-o"></span>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <p class="skill summary">
                            {{ skill.summary }}
                        </p>
                        <div>
                            <ul>
                                {% for example in skill.examples %}
                                <li>{{ example }}</li>
                                {% endfor %}
                            </ul>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section class="cv">
    <h2><span class="fa fa-info"></span> Divers <span class="fa fa-info"></span></h2>
    <p>
    Fan de sport :
    <ul>
        <li>Volley-ball (j'ai été dans l'organisation du Stade Poitevin Volley durant 7 ans (2003-2010))</li>
        <li>Cyclisme (La famille suivait, et mon prénom a été choisi pour un cycliste : Ronan PENSEC)</li>
    </ul>
    </p>

    <p>Guitariste depuis 9 ans (mai 2008)</p>

    <p>Je n'ai pas le permis, mais je peux me déplacer à vélo et/ou en bus (j'ai effectué tous mes trajets ainsi, de 2009 à 2015, maintenant j'utilise principalement les transports en commun)</p>
</section>
