---
layout: page

title: Portfolio
textTitle: Portfolio

permalink: portfolio
---

<section id="personal" class="portfolio">
    <h2>Projets personnels</h2>
{% for entry in site.data.portfolio.perso.portfolio %}
    <header>
        <h3>{{ entry.title }}</h3>
    </header>

    <blockquote>
        {{ entry.description | markdownify }}

        {% if entry.link %}
        <small><a href="{{ entry.link.link }}" target="_blank">{{ entry.link.text }}</a></small>
        {% else %}
        <small><i>Pas de lien disponible.</i></small>
        {% endif %}
    </blockquote>
{% endfor %}
</section>


<section id="school" class="portfolio">
    <h2>Projets universitaires</h2>
{% for entry in site.data.portfolio.school.portfolio %}
    <header>
        <h3>{{ entry.title }}</h3>
    </header>

    <blockquote>
        {{ entry.description | markdownify }}

        {% if entry.link %}
        <small><a href="{{ entry.link.link }}" target="_blank">{{ entry.link.text }}</a></small>
        {% else %}
        <small><i>Pas de lien disponible.</i></small>
        {% endif %}
    </blockquote>
{% endfor %}
</section>
